body {
	background-color: #19399E;
}

h1 {
	color: white;
	font-family: arial, sans-serif;
	text-transform: capitalize;
	font-size: 35px;
	opacity: 0;
	transition: 3s opacity ease;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #fff;
    font-size: 40px;
  }
  to {
    text-shadow: 0 0 30px #1568ed;
    font-size: 42px;
  }
}

center {
	width: 800px;
}

#title {
	transition: 1s all ease;
	position: absolute;
	top: 45%;
	left: calc(50% - 400px);
	margin: auto;
	display: block;
}

h2 {
	color: white;
	font-family: arial, sans-serif;
	font-size: 20px;
}

p {
	font-family: arial, sans-serif;
	text-transform: capitalize;
	text-align: center;
	color: white;
	font-weight: bold;
}

.changeButton {
	visibility: hidden;
}


.visualBoxs {
	width: 300px;
	height: 300px;
	margin: auto;
	display: block;
	/*opacity: 0;*/
	position: relative;
	transition: all ease 0.3s;
	transform-origin: top left;
	/*background-color: red;*/
}

.visualBoxs:hover {
	filter: drop-shadow(8px 8px 10px black);
	cursor: pointer;
	opacity: 1 !important;
}


#container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	opacity: 0;
	transition: all ease 1s;
	margin-top: 20%;
}

.group {
	flex-basis: 33.333333%;
	position: relative;
}


.ranking {
	visibility: hidden;
}

#next {
	/*float: right;*/
/*	right: 8%;
	top: 5%;*/
	right: calc(50% - 30px);
	top: 55%;
	position: absolute;
	border: none;
	/*border-bottom: 0px solid white;*/
	/*border-radius: 5px;*/
	opacity: 0;
	padding: 5px;
	background-color:rgba(0, 0, 0, 0.0);
	transition: 0.3s ease all;
	transition: 2s opacity;
}

#next:hover {
	cursor: pointer;
	transition: 0.3s ease all;
	transform: scale(1.1);
	border-bottom: 5px solid white;
	/*background-color: lightblue;*/

}

img, video {
	margin: auto;
	width: 100%;
}


.hist {
	/*margin: 1em;*/
	/*height: 300px;*/
	/*background-color: black;*/
	/*border: 1px solid;*/
	transition: 0.3s all ease;
	position: absolute;
	left: 40%;
	top: 60%;
}

.bar {
	position: absolute;	
	width: 20%;
	bottom: 0;
	height: 0%;
	/*background-color: darkred;*/
	transition: all 0.3s ease;
}

.percent {
	position: absolute;
	display: block;
	margin: auto;
	transition: all 0.3s ease;
	bottom: 0%;
	font-size: 2em;
	font-weight: bold;
	white-space: pre-wrap;
	/*text-align: center;*/
}

.p1 {
	/*bottom: 40%;*/
	left: 0%;
}

.p2 {
	/*bottom: 30%;*/
	left: 25%;
}

.p3 {
	/*bottom: 80%;*/
	left: 50%;
}

.p4 {
	/*bottom: 70%;*/
	left: 75%;
}

.b1 {
	left: 0%;
	/*height: 40%;*/
	background-color: red;
}

.b2 {
	left: 25%;
	/*height: 30%;*/
	background-color: white;
}

.b3 {
	left: 50%;
	/*height: 80%;*/
	background-color: blue;
}

.b4 {
	left: 75%;
	/*height: 70%;*/
	background-color: green;
}

}
.wrapper {
	background-color: whitesmoke;
}
.first {
	text-indent: 100px;
}

#instructions {
	position: absolute;
	width: 800px;
	left: calc(50% - 400px);
	top: 20%;
	z-index: -99;
	display: none;

}


.dot {
	z-index: -99;
	position: absolute;
	background-color: #FFFF9F;
	width: 80px;
	height: 80px;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	border-radius: 40px;
}



